.alert {
  position: fixed;
  top: 20px;
  left: 350px;
  background-color: #f8d7da; /* Red background for the alert */
  color: #721c24; /* Dark red text color */
  padding: 15px;
  border: 1px solid #f5c6cb; /* Border color */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it appears above other content */
  max-width: 300px;
  width: 100%;
}

.closeButton {
  background: none;
  border: none;
  color: #721c24;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
}

.content {
  margin-top: 10px;
}
